<!DOCTYPE html>

<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gerenciar Usuários</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<h1 class="header-text">Painel do Administrador</h1>
<a href="{{ url_for('index') }}" class="back-link">← Voltar para o Início</a>
<hr>

    <h2 class="sub-header-text">Gerenciar Usuários</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    {% if users %}
        <table class="data-table user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            {% if user.is_admin %}
                                <span class="status-badge admin-badge">Admin</span>
                            {% else %}
                                <span class="status-badge standard-badge">Padrão</span>
                            {% endif %}
                        </td>
                        <td>
                            <form action="{{ url_for('reset_password', user_id=user.id) }}" method="POST" class="form-reset-password">
                                <input type="password" name="new_password" placeholder="Nova senha" required class="input-reset-password">
                                <button type="submit" class="button-link reset-button">Redefinir Senha</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum usuário cadastrado.</p>
    {% endif %}
</div>

</body>
</html>